/* Global */ 
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Header */ 
header {
    background-color: #a1a1a1;
}

/* List */ 
li {
    list-style: none;
}

/* Text */ 
a {
    text-decoration: none;
    color: black;
}

/* Nav Bar */ 
.nav {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    transition: .3s ease;
    
}

/* Menu */ 
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    position: fixed;
    flex-direction: column;
    top: -500px;
    right: 45%;
    cursor: pointer;
    transition: .5s ease;
}

/* Menu - Toggle */ 
.menu.active {
    transition: .5s ease;
    top: 200px;
}

/* Menu - Item */ 
.item{
    margin: 16px 0;
}

/* Menu - Item - Link */ 
.link:hover {
    color: brown;
}

/* Hamburger */ 
.logo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

/* Hamburger - Burger */ 
.bar0, .bar1, .bar2 {
    
    width: 41px;
    height: 5px;
    background: white;
    border-radius: 10px;
    transition: 0.3s ease;
    opacity: 100%;
}

.logo.active .bar0 {
    transform: rotate(45deg);
    position: relative;
    top: 12px;
    transition: 0.3s ease;
}
.logo.active .bar1 {
    opacity: 0%;
}

.logo.active .bar2 {
    transform: rotate(-45deg);
    position: relative;
    top: -13px;
    transition: 0.3s ease;
}


